// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
//************************NAVBAR TWEEKS************************
//aligns menu items to the right
#navbarNavDropdown {
  justify-content: flex-end;
}

//gets rid of round edges on child menu elements
.dropdown-menu {
	border-radius: 0;
}

.navbar-brand {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
   position: relative;
    margin: 20px;
}

.navbar-brand:before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: -5px;
    left: -15px;
    border-top: 4px solid $photo-red !important;
    border-left: 4px solid $photo-red !important;
}

.inner-box::after {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0px;
    right: -15px;
    border-bottom: 4px solid $photo-red !important;
    border-right: 4px solid $photo-red !important;
}

.dropdown-toggle::after {
  //does toggle icon
}

.navbar-dark .navbar-toggler-icon {
  background-color: $black;
  color: $white;
}


//force underline on sub-menu hover
.dropdown-item:focus, .dropdown-item:hover {
	text-decoration: underline;
}

//prevent default fade to non-accessible on pages that are not the active page
.navbar-dark .navbar-nav .nav-link {
  color: $white;
  font-family: 'Roboto Mono', mono;
  font-weight: 300;
  font-size: 1.2em;
}

#the-menu {
	background-color: transparent !important;
  padding: 0;
}

.navbar .container {
  background-color: $white;
}

#main-menu li {
  border-bottom: 2px solid $light-gray;
  border-top: 2px solid $white;
  height: 100%;
  margin: 0 .5em;
}

#main-menu li a{
   color: $black;
}

#main-menu .active {
	color: $black;
  border-top: 2px solid $photo-red;
  height: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.menu-icon {
  display: inline-block;
  font-size: 3em;
}

.menu-title{
  display: inline-block; 
  color: $black;
}

.menu-title-one, .menu-title-two {
  margin: 0;
  font-size: 1.3em;
  line-height: 1.1em;
  color: $black;  
}


.menu-title-three {
  display: inline-block;
  font-size: 3.4em;
  line-height: 1em;
  color: $black;
}

.description {
  line-height: 1em;
  font-size: .7em;
  margin-bottom: 10px;
  color: $black;
  //border-top: 2px solid $photo-red;
  padding-top: 5px;
}

//instagram feed fix 

.apif-masnry-ui-one figure .apif-overlay-cont-block {
  z-index: 10;
}


//************************BASIC CONTENT CHOICES************************
article a {
	text-decoration: underline;
}

body, p, h1, h2, h3, h4, h5 {
	font-family: 'Roboto', sans-serif;
}

#secondary img, article img, figure, img, img.wp-post-image {
	margin-bottom: 1em;
}

article img {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.29);
}

p {
	padding: 1em .4em;
}

.table {
	background-color: $white;
}

.jumbotron {
	border-radius: 0;
}

hr {
  display: block;
  clear: both;
  margin: 50px 0;
}

.custom-header-img {
	height: 40vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

//BACKGROUND
#full-width-page-wrapper {
//	background-image: url(../imgs/topo-right-30.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 400px 800px;
	background-attachment: fixed;
}


//FOOTER 
#wrapper-footer {
	padding-top: 5em;
	background-color: $dark-gray;	
}

.footer-widget{
	background-color: $dark-gray;
	padding-top: 3em;
	color: $white;
	line-height: 1em;
}

.widgetizedArea p {
	background-color: $dark-gray;
	color: $white;
	padding: .2em 0;
	margin: 0;
}

.widgetizedArea h3 {
	color: $gold;
	font-size: 1.2em;
}

//JUST BLOCKQUOTE
//from https://codepen.io/iPawan/pen/emrPKP
blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-size: 1.2em;
  line-height: 1.2;
  color: #666;


  /*Borders - (Optional)*/
  border-left-style: solid;
  border-left-width: 15px;
  border-right-style: solid;
  border-right-width: 2px;    
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px; 
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

  /*Default Color Palette*/
blockquote.default{ 
  border-left-color: #656d77;
  border-right-color: #434a53;  
}

.btn-photo {
  padding: 5px 8px;
  display: block;
  background: $photo-red;
  color: $white;
  font-size: 1.2em;
  max-width: 300px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
}

.btn-photo:hover {
  background: $dark-gray;
  color: $white;
}


//BOOTSTRAP BREAKOUT

.break-out{
  width: 100vw;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
  color: rgba(0,0,0,.6);
  display: block;
}

.flexy {
  display: flex;
  justify-content: space-between;
}


/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: $photo-red;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.entry-content:first-letter {
  color: #000;
  display: inline-block;
  float: left;
  font: 400 6em/0.5em VF-Didot-3, georgia; //from Vanity Fair page
  font-style: normal;
  letter-spacing: 0;
  margin: 0;
  padding: 0.16em 0.04em 0 0;
}


.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}